.promo {
	position: relative;
	max-height: 700px;
	background: url("../img/bg.jpg") center center/cover no-repeat;
	padding-top: 39px;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap:wrap;
	}
	
	h1{
	margin: 0;
	font-family: Roboto;
	font-size: 42px;
	line-height: 48px;
	font-weight: 900;
	color: #ffffff;
	}
}




	